#contact {
  background: lighten(black, 5%);
  color: white;
  position: relative;
  .contact__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .contact__menus {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .contact__menu {
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 15rem;
        padding: 1rem 0;
        text-align: center;
        .contact__menu-option {
          cursor: pointer;
          font-size: 110%;
        }
      }
    }
    .contact__info {
      display: flex;
      flex-direction: column;
      .contact__address {
        padding: 1rem 0;
        margin: 0 auto;
        max-width: 15rem;
        text-align: center;
      }
      .contact__socials {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
  footer {
    bottom: 0;
    position: absolute;
    
  }
}