#delivery {
  background: #CF9F4F;
  color: black;
  .delivery__text {
    font-weight: bold;
  }
  .delivery-signup {
    background: $dark-brown4;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem 2rem;
  }
  .delivery-signup:hover {
    background: lighten($dark-brown4, 10%);
  }
}