#features {
  background: linear-gradient($dark-brown1, $dark-brown2);
  color: white;
  .features__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    .feature {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 125%;
      height: 182px;
      margin: 2rem auto;
      width: 273px;
      .feature__text {
        background: rgba(255, 255, 255, 0.6);
        color: $dark-brown1;
        display: inline-block;
        margin: 0 auto;
        padding: 0 1rem;
      }
    }
    .feature--overlay {
      height: 182px;
      position: absolute;
      width: 273px;
    }
    .feature--overlay:hover {
      background: rgba(200, 200, 200, 0.2);
    }
    .feature--coffee {
      background: url('/Images/coffee-beans.jpg'); 
      background-size: cover;
      color: white;
    }
    .feature--drink {
      background: url('/Images/drink-of-the-week.jpg'); 
      background-size: cover;
      color: white;
    }
    .feature--bakery {
      background: url('/Images/baked-goods.jpg'); 
      background-size: cover;
      color: white;
    }
    .feature--shirt {
      background: url('/Images/shirt.png'); 
      background-size: cover;
      color: white;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  #features {
    .features__content {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 800px;
    }
  }
}