#locations {
  text-align: center;
  .locations__image {
    background: url('/Images/locations.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 0;
    margin: 0 auto;
    padding-top: 66.7%; //
    width: 90%;
  }
}