#services {
  display: flex;
  flex-direction: column;
  text-align: center;
  .service {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 125%;
    height: 182px;
    margin: 2rem auto;
    width: 273px;
    .service__text {
      text-align: center;
      width: 100%;
    }
  }
  .service--basics {
    background: url('/Images/basics.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .service--art {
    background: url('/Images/latte-art.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .service--equipment {
    background: url('/Images/equipment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .service--different {
    background: url('/Images/different.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
}