@import './base/settings';
@import './base/base';
@import './components/dashboard';
@import './components/header';
@import './components/our-story';
@import './components/features';
@import './components/stats';
@import './components/services';
@import './components/delivery';
@import './components/locations';
@import './components/contact';
@import './components/box-layout';
@import './components/content-container';
@import './components/visibility';