// Colors
$dark-brown1: rgb(24, 26, 17);
$dark-brown2: rgb(32, 27, 19);
$dark-brown3: rgb(39, 29, 21);
$dark-brown4: rgb(47, 30, 23);
$dark-grey: #333;
$blue: #1C88BF;
$grey: #666;
$off-white: #f7f7f7;
// Font size
$font-size-large: 1.8rem;
$font-size-small: 1.2rem;
// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

